* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container,
.sub-title,
.social-medial-contacts {
    display: flex;
    justify-content: center;
}

.content {
    width: 55%;
}

.header-title-content,
.sub-title,
.creative-title,
.creative-author-time,
.soc-button {
    text-align: center;
    vertical-align: middle; 
}

/*  HEADER  */

.header-container {
    width:100%;
    color: white;
    font-family: 'Bentham', serif;
    height: 560px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7) ), url('https://static.pexels.com/photos/475729/pexels-photo-475729.jpeg');
    background-position: center top; 
    background-repeat: no-repeat;
    background-size: cover; 
    padding-top: 20px;
}
 .logo-container {
    margin-bottom: 120px;
}  

.logo {
    border: 1px solid white;
    padding: 8px 12px;
}

.header-title-content {
    font-size: 2.6em;
    letter-spacing: 2.2px;
}

.sub-title {
    margin: 20px 0;
}


/*  BODY  */

.creative-container {
    padding-top: 100px;
    font-family: 'Bentham', serif;
}

.creative-title {
    margin-bottom: 22px;
    letter-spacing: 3.1px;
}

.creative-title h1 {
    font-size: 2.3em;

}


.creative-author-time {
    margin-bottom: 10px;
}
.par {
    margin-top: 40px; 
    text-align-last: left;
    color: #777676;
    font-family: 'PT Serif', serif;
}

.social-medial-contacts {
    margin-top: 30px;
}

.soc-button {
    flex: 1;
    height: 40px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
    padding-top: 10px;
}

.soc-button:hover {
    cursor: pointer;
    color: white;
}

.google {
    border-right: 1px solid black;
}

.linkedin:hover {
    background-color: #0077B5;
}
.twitter:hover {
    background-color: #1b95e0;
}
.facebook:hover {
    background-color: #3b5998;
}

.google:hover {
    background-color: #e2514e;
}

/*  FOOTER  */

.footer-container {
    background-color: #555555;
    color: white;
    height: 51px;
    margin-top: 60px;
    padding-top: 19px;
    font-size: larger;
}

.footer-content {
    display: flex;
    justify-content: center;
}

