* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container,
.sub-title,
.social-medial-contacts {
    display: flex;
    justify-content: center;
}

.content {
    width: 55%;
}

.header-title-content,
.sub-title,
.creative-title,
.creative-author-time,
.soc-button {
    text-align: center;
    vertical-align: middle;
}


/*  HEADER  */

.header-container {
    width: 100%;
    color: white;
    font-family: 'Bentham', serif;
    height: 560px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url('https://static.pexels.com/photos/475729/pexels-photo-475729.jpeg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
}

.logo-container {
    margin-bottom: 120px;
}

.logo {
    border: 1px solid white;
    padding: 8px 12px;
}

.header-title-content {
    font-size: 2.6em;
    letter-spacing: 2.2px;
}

.sub-title {
    margin: 20px 0;
}


/*  BODY  */

.creative-container {
    padding-top: 100px;
    font-family: 'Bentham', serif;
}

.creative-title {
    margin-bottom: 22px;
    letter-spacing: 3.1px;
}

.creative-title h1 {
    font-size: 2.3em;
}

.creative-author-time {
    margin-bottom: 10px;
}

.par {
    margin-top: 40px;
    text-align-last: left;
    color: #777676;
    font-family: 'PT Serif', serif;
}

.social-medial-contacts {
    margin-top: 30px;
}

.soc-button {
    flex: 1;
    height: 40px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
    padding-top: 10px;
}

.soc-button:hover {
    cursor: pointer;
    color: white;
}

.google {
    border-right: 1px solid black;
}

.linkedin:hover {
    background-color: #0077B5;
}

.twitter:hover {
    background-color: #1b95e0;
}

.facebook:hover {
    background-color: #3b5998;
}

.google:hover {
    background-color: #e2514e;
}


/*  FOOTER  */

.footer-container {
    background-color: #555555;
    color: white;
    height: 51px;
    margin-top: 60px;
    padding-top: 19px;
    font-size: larger;
}

.footer-content {
    display: flex;
    justify-content: center;
}


/*  MEDIA QUERIES  */


/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* Styles */
    .header-container {
        padding-top: 60px;
        height: 637px;
    }
    .content {
        width: 80%;
    }
    .header-title-content {
        font-size: 2em;
    }
    .logo-container {
        margin-bottom: 135px;
    }
    .creative-container {
        padding-top: 80px;
    }
    .creative-title h1 {
        font-size: 2em;
    }
    .footer-container {
        font-size: 0.52em;
    }
}


/* Smartphones (landscape) ----------- */

@media only screen and (min-width: 321px) {
    /* Styles */
    .content {
        width: 80%;
    }
}


/* Smartphones (portrait) ----------- */

@media only screen and (max-width: 320px) {
    /* Styles */
    .content {
        width: 80%;
    }
}


/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Styles */
    .content {
        width: 83%;
    }
}


/**********
iPad 3
**********/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    /* Styles */
    .content {
        width: 74%;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    /* Styles */
    .content {
        width: 74%;
    }
}


/* Desktops and laptops ----------- */

@media only screen and (min-width: 1224px) {
    /* Styles */
    .content {
        width: 75%;
    }
}


/* Large screens ----------- */

@media only screen and (min-width: 1824px) {
    /* Styles */
    .content {
        width: 60%;
    }
}


/* iPhone 4 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    /* Styles */
}


/* iPhone 5 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}


/* iPhone 6 ----------- */

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}


/* iPhone 6+ ----------- */

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}


/* Samsung Galaxy S3 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}


/* Samsung Galaxy S4 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}


/* Samsung Galaxy S5 ----------- */

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}